<div class="galleryPanel"> 
        <!--
                <button id="sidemenubtn"  type="button" class="collapsed" data-toggle="collapse" data-target="#mySidebar" aria-expanded="true" onclick="sidecollapse()">
                        <span class="glyphicon glyphicon-menu-hamburger"> </span>
                 </button>  
        -->
               <button id="sidemenubtn"  type="button"  aria-expanded="true" onclick="sidecollapse()">
                        <span class="glyphicon glyphicon-menu-hamburger"> </span>
                 </button>  
                <div Id='mySidebar' class="sidenav">
                    <div id='subwed' class='dropdown1 skpull'>
                     <a href="#"  onclick="openGallery('wedding'); return false;" class='activemenu'>Wedding <span class="fa fa-angle-down expand"></span> </a> 
                     
                     <div class='dropdown-content1 skcollapse'>
                        
                     </div>
                  </div>
                  <div id='subeng' class='dropdown1 skpull'>
                     <a href="#"  onclick="openGallery('engagement'); return false;">Engagement <span class="fa fa-angle-down expand"></span></a>
                         <div class='dropdown-content1 skcollapse'> 
                         </div>
                 </div>
                  <div id='subpre' class='dropdown1 skpull'>
                     <a href="#"  onclick="openGallery('prewedding'); return false;">PreWedding <span class="fa fa-angle-down expand"></span></a> 
                     <div class='dropdown-content1 skcollapse'>
                     </div>
                  </div>
                  <div id='subpos' class='dropdown1 skpull'>
                     <a href="#"  onclick="openGallery('postwedding'); return false;">PostWedding <span class="fa fa-angle-down expand"></span></a> 
                     <div class='dropdown-content1 skcollapse'>
                       
                     </div>
                  </div> 
              </div> 
         
        <div id='gallery' class='gallery-body '>
             <div id='wedding' class='activeGallery'>
             </div>
             <div id='engagement' class='inactiveGallery'>
            </div>
             <div id='prewedding' class='inactiveGallery'>
            
            </div> 
             <div id='postwedding' class='inactiveGallery'>
            
            </div>
            
             <div class="skrow"> 
               
             </div> 
         </div> 
         </div>